<div class="abt-section ab">
    <div class="dp mt-5 block">
        <figure class="image ">
            <img class="is-rounded " src="../../../assets/dp2.png">
        </figure>
    </div>
    <div class="abt block">
        <div class="ttl">
            <h1 class="title tlt">
                <span><img width="50" src="../../../assets/waving-hand_1f44b.png"></span>
                Hey, I am <span class="nm">Ashish Sahu</span><br>
                <span class="tp mt-5">
                    <ngtypewriter [StringList]='list' [speed]='1000'></ngtypewriter>
                </span>
            </h1>
        </div>
    </div>
</div>
