.abt-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.tlt{
    text-align: center;
    line-height: 40pt;
}

.tlt .tp{
    color: #F14668;
    font-weight: 600;
    font-size: larger;
}

h1{
    font-weight: 400;
    
}

.tlt .nm{
    font-weight: 700;
}

.dp{
    width: 15rem;
    height: auto;
}

.ab{
    margin-top: 7vw;
    
}

@media only screen and (max-width: 725px){
    .ab{
        margin-top: 15vw;
    }
}