img{
    height: 7rem;
    width: auto;
}

.dn{
    background-color: #43C1FB;
}

/* .nv{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.ft{
    font-size: x-large;
    margin-right: 1rem;
}