<nav class="navbar is-fixed-top nv is-spaced" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="../../../assets/logoA.png">
        </a>

        <a role="button" class="navbar-burger is-spaced" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" [class.is-active]="showBurgerMenu"
    (click)="showBurgerMenu = !showBurgerMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu" [class.is-active]="showBurgerMenu">
        <div class="navbar-start">
            <a class="navbar-item">
                <span class="icon-text has-text-danger">
                    <span class="icon">
                        <i class="fa fa-id-card"></i>
                    </span>
                    <span>EXPERIENCE</span>
                </span>
            </a>

            <div [ngClass]="modelClass" class="modal">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Ashish Sahu</p>
                    </header>
                    <section class="modal-card-body">
                        <!-- Content ... -->
                        <div class="cnt">
                            <div class="what">
                                <span class="icon"><i class="fab fa-linkedin" aria-hidden="true"></i></span>
                                <p>Linkedin</p>
                            </div>
                            <a href="https://www.linkedin.com/in/ashishsahu2/">linkedin.com/in/ashishsahu2</a>
                        </div>
                        <div class="cnt">
                            <div class="what">
                                <span class="icon"><i class="fab fa-instagram" aria-hidden="true"></i></span>
                                <p>Instagram</p>
                            </div>
                            <a href="https://www.instagram.com/ashhishh99/">instagram.com/ashhishh99/</a>
                        </div>
                        <div class="cnt">
                            <div class="what">
                                <span class="icon"><i class="fa fa-envelope-open" aria-hidden="true"></i></span>
                                <p>Gmail</p>
                            </div>
                            <a href="mailto:ashishsahu10428@gmail.com">ashishsahu10428@gmail.com</a>
                        </div>
                        <div class="cnt">
                            <div class="what">
                                <span class="icon"><i class="fa fa-address-book" aria-hidden="true"></i></span>
                                <p>Phone</p>
                            </div>
                            <a href="">8210209272</a>
                        </div>
                        <div class="cnt">
                            <div class="what">
                                <span class="icon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                <p>Birth Day</p>
                            </div>
                            <a>02 April 1999</a>
                        </div>
                    </section>
                    <footer class="modal-card-foot">
                        <button (click)="contactClick()" class="button is-success">Close</button>
                    </footer>
                </div>
            </div>
            <a (click)="contactClick()" class="navbar-item">
                <span class="icon-text has-text-info">
                    <span class="icon">
                        <i class="fa fa-phone-square"></i>
                    </span>
                    <span>CONTACTS</span>
                </span>
            </a>
                     
        </div>

        <div class="navbar-end">
            <div class="icccn">
                
                <a href="https://www.linkedin.com/in/ashishsahu2/" target="_blank" class="ft navbar-item">
                    <span class="icon has-text-info">
                        <i class="fab fa-linkedin" aria-hidden="true"></i>
                    </span>
                </a>
                <a href="https://github.com/ashishsahu1" target="_blank" class="ft navbar-item">
                    <span class="icon has-text-success">
                        <i class="fab fa-github"></i>
                    </span>
                </a>
                <a href="https://www.instagram.com/ashhishh99/" target="_blank" class="ft navbar-item">
                    <span class="icon has-text-danger">
                        <i class="fab fa-instagram"></i>
                    </span>
                </a>
            </div>

            <div class="buttons ll-btn">
                <a target="_blank" href="https://drive.google.com/file/d/1zJ6sP19b6x6QKP9N22il5JtNSCebh126/view?usp=sharing" class="button is-primary dn">
                    <strong>Download Resume</strong>
                </a>
            </div>
        </div>

        
        
    </div>
</nav>