
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem 0 10rem;
}

.txt-bx{
    text-align: left;
}

.icon-bx{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;

}

.footer-icon{
    margin: 0 1rem 0 1rem;
}

.footer{
    margin-top: 10rem;
}

@media only screen and (max-width: 980px){
    .content{
        padding: 1rem;
    }
    .txt-bx{
        margin-bottom: 3rem;
    }
}