<footer class="footer">
    <div class="content has-text-centered">
        <div class="txt-bx">
            <h1 class="title">Thank You</h1>
            <p class="subtitle">
                Designed and Developed with 💙,by <b>Ashish</b>
            </p>
        </div>
        <div class="icon-bx">
            <a href="https://www.instagram.com/ashhishh99/" class="footer-icon">
                <span class="icon has-text-danger">
                    <i class="fab fa-instagram"></i>
                </span>
            </a>
            <a href="https://www.linkedin.com/in/ashishsahu2/" class="footer-icon">
                <span class="icon has-text-info">
                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                </span>
            </a>
            <a href="https://github.com/ashishsahu1" class="footer-icon">
                <span class="icon has-text-success">
                    <i class="fab fa-github"></i>
                </span>
            </a>
        </div>
    </div>
</footer>